.header-navigation .container .right-side-box a.rqa-btn{

    background: #44b73e;

}

.preloader{

    background-color: #44b73e;

}

.sec-title span{

    color: #44b73e;

}

.scroll-to-top:hover{

    background: #44b73e;

}

.header-navigation .container .navbar-header button.side-nav-toggler:hover {

    color: #44b73e!important;

}

.header-navigation .container .navbar-brand{

    background: #44b73e!important;

    color: #44b73e!important;

}

.header-navigation ul.navigation-box > li > .sub-menu li:hover > a{

    background: #44b73e!important;

}

.header-top .single-header-right-info .text-box p{

    color: #44b73e!important;

}

.header-top.home-three .top-info p span{

    color: #44b73e!important;

}

.header-top.home-three .top-info .social a:hover{

    color: #44b73e!important;

}

.header.header-home-two .header-navigation .container .right-side-box a.rqa-btn:hover{

    background-color: #44b73e!important;

}

.header.header-home-three .header-navigation .container .right-side-box a.rqa-btn{

    border-bottom: 3px solid #44b73e!important;

}

#minimal-bootstrap-carousel .carousel-control:hover{

    background: #44b73e!important;

}

.slider-home-one .content h2 span{

    color: #44b73e!important;

}

.slider-home-one .content a.banner-btn{

    background: #44b73e!important;

}

.main-slider h2 span{

    color: #44b73e!important;

}

.main-slider .theme-btn{

    background: #44b73e!important;

}

.hidden-sidebar .sidebar-content .navigation-box li a:hover {

    color: #44b73e!important;

}

.hidden-sidebar .sidebar-content .navigation-box li.current a {

    color: #44b73e!important;

 }

.hidden-sidebar .sidebar-content .navigation-box li + li{

    color: #44b73e!important;

}

.hidden-sidebar .sidebar-content .social a:hover{

    color: #44b73e!important;

}

.hidden-sidebar .sidebar-content p.copy-text i.fa-heart{

    color: #44b73e;

}

.award-winning{

    border-bottom: 3px solid #44b73e;

}

.header-navigation .container .right-side-box a.rqa-btn:after{

    background: #44b73e;

}

.header-navigation ul.navigation-box > li > a:after{

    color: #44b73e;

}

.header-navigation ul.navigation-box > li:before{

    background : #44b73e;

}

.about-style-one .about-content a.about-btn {

    background: #44b73e;

}

.single-service-style-two .hover .text-box a.more {

    color: #44b73e;

}

.service-carousel-style-two .owl-dots .owl-dot.active span {

    background: #44b73e;

}

.single-service-style-two .hover {

    border-top: 3px solid #44b73e;

}

.single-service-style-two .hover .icon-box i {

    color: #44b73e;

}

.single-service-style-two .overlay .icon-box i {

    color: #44b73e;

}

.about-style-one .about-content ul li i {

    color: #44b73e;

}

.single-service-style-one .back h3 {

    color: #44b73e;

}

.single-service-style-one .back {

    border-bottom: 3px solid #44b73e;

}

.single-service-style-one .front i {

    color: #44b73e;

}

.service-carousel-one .owl-nav [class*=owl-]:hover {

    background: #44b73e;

}

.portfolio-style-two .gallery-filter ul li.active span {

    color: #44b73e;

}

.portfolio-style-two .gallery-filter ul li.active span {

    color: #44b73e;

}

.portfolio-style-two .gallery-filter ul li span:after {

    background: #44b73e;

}

.portfolio-style-two .single-portfolio-style-two .img-box .overlay .box .content a.img-popup {

    color: #44b73e;

}

.portfolio-style-two .single-portfolio-style-two .img-box .overlay .box .content span {

    color: #44b73e;

}

.single-testimonial-style-two p i.fas {

    color: #44b73e;

}

.single-testimonial-style-two .client-info-box .text-box p {

    color: #44b73e;

}

.feature-style-one [class*=col-md]:nth-child(2) {

    background: #44b73e;

}

.single-team-style-one .img-box .name-box .inner {

    background: #44b73e;

}

.single-team-style-one .text-box .social a:hover {

    color: #44b73e;

}

.faq-style-one .accrodion-grp .accrodion.active .accrodion-title h4 {

    color: #44b73e;

}

.faq-style-one a.more-info {

    color: #44b73e;

    }

.rqa-box form.rqa-form input.hvr-sweep-to-right {

    background: #44b73e;

}    

.blog-style-one .single-blog-style-one a.read-more {

    color: #44b73e;

}

.blog-style-one .single-blog-style-one h3:hover {

    color: #44b73e;

}

.blog-style-one .single-blog-style-one .meta-info a:hover {

    color: #44b73e;

}

.blog-style-one .blog-list-sidebar .btn-box a {

    color: #44b73e;

}

.blog-style-one .blog-list-sidebar .single-blog-list:hover h3 {

    color: #44b73e;

}

footer.site-footer .footer-widget.subscribe-widget h3 {

    color: #44b73e;

}   

footer.site-footer .footer-widget.subscribe-widget form input.wpcf7-submit {

    background: #44b73e;

}     

.scroll-to-top{

    background: #44b73e;

}

.industrio-icon-play-button:before {

    color: #44b73e;

}

.sec-title span {

  color: #44b73e;

}

.header-navigation .container .navbar-header button.side-nav-toggler:hover {

  color: #44b73e;

}

.header-navigation .container .right-side-box a.rqa-btn {

  background: #44b73e;

}

.header-navigation .container .right-side-box a.rqa-btn:after {

  background: #44b73e;

}

.header-navigation ul.navigation-box > li:before {

  background: #44b73e;

}

.header-navigation ul.navigation-box > li > a:after {

  color: #44b73e;

}

.header-navigation ul.navigation-box > li > .sub-menu li:hover > a {

  background: #44b73e;

}

.header-top .single-header-right-info .text-box p {

  color: #44b73e;

}

.header-top.home-three .top-info p span {

  color: #44b73e;

}

.header-top.home-three .top-info .social a:hover {

  color: #44b73e;

}

.header.header-home-two .header-navigation .container .right-side-box a.rqa-btn:hover {

  background-color: #44b73e;

}

.header.header-home-three .header-navigation .container .right-side-box a.rqa-btn {

  border-bottom: 3px solid #44b73e;

}

#minimal-bootstrap-carousel .carousel-control:hover {

  background: #44b73e;

}

.slider-home-one .content h2 span {

  color: #44b73e;

}

.slider-home-one .content a.banner-btn {

  background: #44b73e;

}

.main-slider h2 span {

  color: #44b73e;

}

.main-slider .theme-btn {

  background: #44b73e;

}

.hidden-sidebar .sidebar-content .navigation-box li a:hover {

  color: #44b73e;

}

.hidden-sidebar .sidebar-content .navigation-box li.current a {

  color: #44b73e;

}

.hidden-sidebar .sidebar-content .navigation-box li .subnav-toggler {

  color: #44b73e;

}

.hidden-sidebar .sidebar-content .social a:hover {

  color: #44b73e;

}

.hidden-sidebar .sidebar-content p.copy-text i.fa-heart {

  color: #44b73e;

}

footer.site-footer .footer-widget.subscribe-widget h3 {

  color: #44b73e;

}

footer.site-footer .footer-widget.subscribe-widget form.subscribe-form button {

  background: #44b73e;

}

.award-winning .title h3 span {

  color: #44b73e;

}

.blog-style-one .single-blog-style-one .meta-info a:hover {

  color: #44b73e;

}

.blog-style-one .single-blog-style-one h3:hover {

  color: #44b73e;

}

.blog-style-one .single-blog-style-one a.read-more {

  color: #44b73e;

}

.blog-style-one .blog-list-sidebar .single-blog-list:hover h3 {

  color: #44b73e;

}

.blog-style-one .blog-list-sidebar .btn-box a {

  color: #44b73e;

}

.single-blog-style-two .text-box h3:hover {

  color: #44b73e;

}

.single-blog-style-two .text-box .meta-info a:hover {

  color: #44b73e;

}

.single-blog-style-two .text-box .meta-info a i {

  color: #44b73e;

}

.single-blog-style-two .text-box a.more {

  background: #44b73e;

}

.blog-details-page .comment-box-wrapper .single-comment-box .text-box a.reply {

  background: #44b73e;

}

.blog-details-page .comment-form button.thm-btn {

  background: #44b73e;

}

.testimonials-style-one-carousel .owl-nav [class*=owl-]:hover {

  background: #44b73e;

}

.single-testimonial-style-two p i.fas {

  color: #44b73e;

}

.single-testimonial-style-two .client-info-box .text-box p {

  color: #44b73e;

}

.testimonials-style-three .single-testimonials-style-three .text-box .client-name span {

  color: #44b73e;

}

.testimonials-style-three-carousel .owl-nav [class*=owl-]:hover {

  border-color: #44b73e;

  background: #44b73e;

}

.rqa-box h3 span {

  color: #44b73e;

}

.rqa-box form.rqa-form button {

  background: #44b73e;

}

.faq-style-one .accrodion-grp .accrodion.active .accrodion-title h4 {

  color: #44b73e;

}

.faq-style-one a.more-info {

  color: #44b73e;

}

.single-team-style-one .img-box .name-box .inner {

  background: #44b73e;

}

.single-team-style-one .text-box .social a:hover {

  color: #44b73e;

}

.team-style-two-carousel .owl-nav [class*=owl-]:hover {

  background: #44b73e;

}

.feature-style-one [class*=col-md]:nth-child(2) {

  background: #44b73e;

}

.contact-info-style-one {

  border-bottom: 3px solid #44b73e;

}

.contact-info-style-one .title h3 span {

  color: #44b73e;

}

.contact-info-style-one .contact-infos .single-contact-infos .text-box h3 {

  color: #44b73e;

}

.contact-page form.contact-form button {

  background: #44b73e;

}

.contact-info-style-two .left-content:after {

  background: #44b73e;

}

.inner-banner ul.breadcumb a, .inner-banner ul.breadcumb span {

  color: #44b73e;

}

.inner-banner ul.breadcumb span.sep {

  color: #44b73e;

}

.error-404 .box .content h3 {

  color: #44b73e;

}

.error-404 .copy-text:after {

  background: #44b73e;

}

.coming-soon-block .box .content ul.countdown-box li .box h4 {

  color: #44b73e;

}

.coming-soon-block .box .content .btn-box a {

  background: #44b73e;

}

.coming-soon-block .copy-text:after {

  background: #44b73e;

}

.portfolio-style-two .gallery-filter ul li span:after {

  background: #44b73e;

}

.portfolio-style-two .gallery-filter ul li.active span {

  color: #44b73e;

}

.portfolio-style-two .single-portfolio-style-two .img-box .overlay .box .content span {

  color: #44b73e;

}

.portfolio-style-two .single-portfolio-style-two .img-box .overlay .box .content a.img-popup {

  color: #44b73e;

}

.single-service-style-one .front i {

  color: #44b73e;

}

.single-service-style-one .back {

  border-bottom: 3px solid #44b73e;

}

.single-service-style-one .back h3 {

  color: #44b73e;

}

.service-carousel-one .owl-nav [class*=owl-]:hover {

  background: #44b73e;

}

.single-service-style-two .overlay .icon-box i {

  color: #44b73e;

}

.single-service-style-two .hover {

  border-top: 3px solid #44b73e;

}

.single-service-style-two .hover .icon-box i {

  color: #44b73e;

}

.single-service-style-two .hover .text-box a.more {

  color: #44b73e;

}

.service-carousel-style-two .owl-dots .owl-dot.active span {

  background: #44b73e;

}

.single-service-style-three .text-box .inner {

  background: #44b73e;

}

.single-service-style-three .text-box .inner a.more {

  color: #44b73e;

}

.single-service-style-three .text-box:hover .inner .icon-box {

  background: #44b73e;

}

.service-style-four .row [class*=col-]:nth-child(1) .single-service-style-four .img-box .box .content h3 span {

  color: #44b73e;

}

.single-service-style-four .img-box .box .content a.more {

  background: #44b73e;

}

.gas.single-service-style-four .img-box .box .content h3 span {

  color: #44b73e;

}

.service-style-four-carousel .owl-nav [class*=owl-]:hover {

  background: #44b73e;

}

.about-style-one .about-content h3 span {

  color: #44b73e;

}

.about-style-one .about-content ul li i {

  color: #44b73e;

}

.about-style-one .about-content a.about-btn {

  background: #44b73e;

}

.about-style-two .about-content h3 span {

  color: #44b73e;

}

.about-style-two .about-content p.tag-line span {

  color: #44b73e;

}

.about-style-two .about-content .quote-box {

  border-left: 2px solid #44b73e;

}

.about-style-two .about-content .quote-box h4 {

  color: #44b73e;

}

.about-style-two .about-content a.view-more {

  background: #44b73e;

}

.fact-counter-section .single-progress-bar .progress-scale .inner {

  background: #44b73e;

}

.fact-counter-section .single-fact-counter .text-box h3 {

  color: #44b73e;

}

.time-line .timeline-tab-select-form .bootstrap-select > .dropdown-toggle {

  background: #44b73e;

}

.time-line .timeline-tab-select-form .dropdown-menu > li.selected > a {

  background: #44b73e;

}

.time-line .timeline-tab-select-form .dropdown-menu > li > a:hover {

  background: #44b73e;

}

.sidebar .single-sidebar.category-widget ul.category-list li a:hover {

  color: #44b73e;

}

.sidebar .single-sidebar.recent-post-widget .recent-post-list .single-recent-post h3:hover {

  color: #44b73e;

}

.sidebar .single-sidebar.tags-widget ul.tags-list li a:hover {

  border-color: #44b73e;

  background: #44b73e;

}

.about-style-three .about-img-box .content {

    background: #44b73e;

}

.about-style-three .about-content a.about-btn {

    background: #44b73e;

}

.single-features-style-two:before {

    background: #44b73e;

}

.time-line ul.tab-title li.active a {

    color: #44b73e;

}

.time-line ul.tab-title li a:hover {

    color: #44b73e;

}

.service-style-four-carousel.owl-theme .owl-dots .owl-dot span:before {

    background: #44b73e;

}

.service-style-four-carousel.owl-theme .owl-dots .owl-dot span:after {

    border: 2px solid #44b73e;

}

.sidebar .single-sidebar.service-sidebar ul.service-list li a:before {

    background: #44b73e;

}

.sidebar .single-sidebar.broucher-sidebar a.broucher-btn:hover i {

    color: #44b73e;

}

.project-details .project-details-content ul.meta-info li i {

    color: #44b73e;

}

.project-details .project-details-content .starts i {

    color: #44b73e;

}

.testimonials-style-four .single-testimonial-style-four .content-box .stars i {

    color: #44b73e;

}

.widget_categories ul li a:hover, .widget_archive ul li a:hover {

    color: #44b73e;

}

ul.wp-tag-cloud li a:hover {

    border-color: #44b73e;

    background: #44b73e;

}

p.logged-in-as a:hover {

    color: #44b73e;

}

.contact-page form.contact-form input.wpcf7-submit {

    background: #44b73e;

}

div.product form.cart .button{

    border:1px solid #44b73e;

    background: #44b73e;

}

.woocommerce-tabs .wc-tabs > li.active > a{

     border-top: 2px solid #44b73e!important;



}

#review_form_wrapper form button.submit{

    background-color: #44b73e;

}

a.view-all.shop_add_cart {

    background: #44b73e;

}

table.shop_table thead tr th{

    background-color: #44b73e;

}

td.product-name a:hover{

    color: #44b73e;

}

.woocommerce .cart input.button{

    background-color: #44b73e;

}

.wc-proceed-to-checkout a.checkout-button.button.alt.wc-forward {

    background: #44b73e;

}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order , a.button.wc-backward ,.woocommerce-message a.button{

    background: #44b73e;

}

.woocommerce-message {

    border-top-color: #44b73e;

}

 .star-rating span:before {

    color: #44b73e;

}

.widget_product_tag_cloud .tagcloud a:hover {

    border-color: #44b73e;

    background: #44b73e;

}

span.posted_in a:hover ,span.tagged_as a:hover , a.woocommerce-review-link:hover{

    color: #44b73e;

}

.woocommerce p.stars a{

    color: #44b73e;

}

.widget_product_categories ul li a:hover{

    color: #44b73e;

}

.main-slider h2 span,
.about-style-one .about-content h3 span,
.sec-title span,
.rqa-box h3 span,
.award-winning .title h3 span {
    color: #44b73e;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic;
    background: -webkit-gradient(linear, left top, right top, from(#33ea29), to(#44b73e));
    background: linear-gradient(to right, #33ea29 0%, #44b73e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}